# Virtual Environment
venv/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3

# IDE
.vscode/
.idea/

# Logs
*.log

# Static & Media (Development)
staticfiles/
media/