<!DOCTYPE html>
<html>
<head>
    <title>Register Student</title>

    <style>
        .camera-box {
            border: 3px solid #0d6efd;
            padding: 10px;
            display: inline-block;
            border-radius: 10px;
        }

        .scan-line {
            width: 100%;
            height: 2px;
            background: red;
            position: relative;
            animation: scan 2s infinite;
        }

        @keyframes scan {
            0% { top: 0; }
            50% { top: 180px; }
            100% { top: 0; }
        }
    </style>

</head>

<body>

<h2>Student Registration</h2>

{% if message %}
<div class="alert alert-success">
    {{ message }}
</div>

<script>
    setTimeout(function(){
        window.location.href = "/register_student";
    }, 2000); // Refresh after 2 seconds
</script>
{% endif %}

<form method="POST" action="/register_student">

    <label>Name:</label><br>
    <input type="text" name="name" required><br><br>

    <label>Roll Number:</label><br>
    <input type="text" name="roll_number" required><br><br>

    <label>Department:</label><br>
    <input type="text" name="department"><br><br>

    <label>Class:</label><br>
    <input type="text" name="class"><br><br>

    <label>Semester:</label><br>
    <input type="text" name="semester"><br><br>

    <!-- Camera -->
    <h3>Capture Face</h3>

    <video id="video" width="300" height="200" autoplay></video><br><br>
    <button type="button" onclick="captureImage()">Capture</button><br><br>

    <canvas id="canvas" width="300" height="200" style="display:none;"></canvas>

    <input type="hidden" name="image_data" id="image_data">

    <button type="submit" class="btn btn-primary">Register & Capture Face</button>

</form>

<script>
    const video = document.getElementById('video');

    // Access webcam
    navigator.mediaDevices.getUserMedia({ video: true })
        .then(stream => {
            video.srcObject = stream;
        });

    function captureImage() {
        const canvas = document.getElementById('canvas');
        const context = canvas.getContext('2d');

        context.drawImage(video, 0, 0, 300, 200);

        const imageData = canvas.toDataURL('image/png');

        document.getElementById('image_data').value = imageData;

        alert("Image Captured!");
    }
</script>

</body>
</html>